html, body{
	height: 100%;  
}
body{
	background-image: url("images/bkg-clouds.png");
}
h1.title{
	text-align: center;
	color: #35A0F9;
	font-size: 64px;
}

h1.title > strong{
	color: #FECD52;
}

p.top-sentence{
	text-align: center;
	font-size: 50px;
}

.circle{	
	width: 100px;
	height: 100px;
	margin: 0 auto;
	border-radius: 50%;
	background-color: blue;
	display: flex;
  justify-content: center;
  align-items: center; 
}

.play_button{

	text-align: center;
	font-size: 32px;
	font-weight: bold;
}

#house-1{
	position: absolute;
	top: 650px;
	left: 100px;
	width: 100px;
}
#house-2{
	position: absolute;
	top: 645px;
	left: 190px;
	width: 200px; 
}

#plane-1{
	position: absolute;
	top: 400px;
	left: 50px;
	transform: scale(-1, 1);
}

#plane-1.left{
	transform: scale(1, 1);
}


#car-1{
	position: absolute;
	top: 705px;
	left: 50px;
	transform: scale(-1, 1);
}
#car-1.left{
	transform: scale(1, 1);
}

#person-1{
	position: absolute;
	top: 695px;
	left: 50px;
	transform: scale(1, 1);
}

#person-1.left{
	transform: scale(-1, 1);
}

@keyframes blinker {  
  90% { opacity: 0; }
}

.blink_me {
  animation: blinker 3s linear infinite;
}