html, body{
	height: 100%;  
}
body{
	background-image: url("images/bkg-clouds.png");
}

h1.title{
	text-align: center;
	color: #35A0F9;
	font-size: 64px;
}

h1.title > strong{
	color: #FECD52;
}

h1.title > small{
	color: #000000
}

p.top-sentence{
	text-align: center;
	font-size: 50px;
}

#house-1{
	position: absolute;
	top: 650px;
	left: 100px;
	width: 100px;
}
#house-2{
	position: absolute;
	top: 645px;
	left: 190px;
	width: 200px; 
}

.plane{
	position: absolute;
	top: 400px;
	left: 50px;
	transform: scale(-1, 1);	
}

.plane.left{
	transform: scale(1, 1);
}

.car{
	position: absolute;
	top: 800px;
	left: 100px;
	transform: scale(-1, 1);	
}

.car.left{
	transform: scale(1, 1);
}

#car-1{
	position: absolute;
	top: 755px;
	left: 50px;
	transform: scale(-1, 1);
}
#car-1.left{
	transform: scale(1, 1);
}



.person{
	position: absolute;
	top: 730px;
	left: 50px;
	transform: scale(1, 1);
}

.person.left{
	transform: scale(-1, 1);
}

#street-1{
	position: absolute;
	top: 745px;
	left: 0px;
}

#tree-a{
	position: absolute;
	top: 608px;
	left: 135px;
}

#cloud-1{
	position: absolute;
	top: 308px;
	left: 135px;
	opacity: 0.75;
}

#cloud-2{
	position: absolute;
	top: 265px;
	left: 135px;
	opacity: 0.50;
}

@keyframes blinker {  
  90% { opacity: 0; }
}

.blink_me {
  animation: blinker 3s linear infinite;
}